@keyframes float {
    0% { transform: translateY(0px) rotate(-15deg); }
    50% { transform: translateY(-10px) rotate(-10deg); }
    100% { transform: translateY(0px) rotate(-15deg); }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

.chat-shadow {
    box-shadow: 0 32px 96px -16px rgba(0,0,0,0.5);
}

.dark .chat-shadow {
    box-shadow: 0 32px 96px -16px rgba(0,0,0,0.8);
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-thin::-webkit-scrollbar {
    width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
    background: hsla(var(--primary), 0.1);
}
